.logo-row{
    background-color: white;
}


.iconsList li {

    border: 2px solid #DA2D04;
    border-radius: 25px;
    display: inline-block;
    width: 27px;
    height: 27px;
}

.top-bar ul{
    background-color: #A8A8A8;
}
.iconsList li a{
    color: #DA2D04;
    text-align: center;
    padding: 2px;
}

.top-bar-left{
    margin-left: 54px;
}


.top-bar-right{
    margin-right: 54px;
}

.menuList li a{
   font-size: 12px;
    color: #DA2D04;
    padding-bottom: 0;
    padding-top: 7px;

}

.iconsList li a{
    color: #DA2D04;
    text-align: center;
    padding: 2px;

}

.topmenu{
    background-color: #A8A8A8;
    padding: 5px;
}

.row1{
    padding: 0;
}

.main-menu li a{
    color:#504c49;
    padding-top: 20px;
    padding-bottom:20px;


}
.logomenu li a{
    padding-left:0px;
    padding-right:0px;
}
.logomenu li{
    padding-left:0px;
    padding-right:0px;
}
.blog{
    text-align: center;
    font-size: 15px;
}

 a:after {
    /*border-top-style: none !Important;*/
    border-style: none !Important;
     /*display: none !Important;*/
}
